<div class="row">
    <div class="r1-col txt-col">
      <p style="font-weight: bold">
        The Power of Project Management <br class="br-small" />
        Builds Organizational Competence for Sustainable Excellence
      </p>
    </div>

    <div class="r1-col logo-col">
      <div class="logo">
        <img src="img/logo.png" alt="" style="width: 100%" />
      </div>
    </div>
  </div>

  <div class="row row-btn-mobile">
    <div class="dd dd-on-mob">
      <div class="dropdown">
        <a onclick="myFunction()" class="reg-btn"
          >Event Registration
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Payment in USD</a>
          <a href="#">Payment in PKR</a>
        </div>
      </div>
    </div>

    <label for="toggle-nav" class="toggle-nav-label">
      <i class="fas fa-bars" style="font-size: 25px"></i>
    </label>
  </div>

  <div class="row row-nav">
    <input type="checkbox" id="toggle-nav" class="toggle-nav" />

    <nav class="header-nav">
      <ul class="header-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/upcoming-events">Up-coming Events</a></li>
        <li><a href="/past-events">Past Events</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/book">Book</a></li>
        <li><a href="/contact">Contact</a></li>
        <div class="dd display-none-mobile">
          <div class="dropdown">
            <a onclick="myFunction()" class="reg-btn"
              >Event Registration
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Payment in USD</a>
              <a href="#">Payment in PKR</a>
            </div>
          </div>
        </div>
      </ul>
    </nav>
  </div>
  