<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="Empowering the organizations with the power of project management
          for managing business with enhanced capabilities for fast decision
          making and managing human aspects."
/>
<link rel="icon" type="image/x-icon" href="../img/siteicon.png" />
<title>The Power | PM - <%= title %></title>
<!--FONT AWESOME CDN-->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
  integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

 <!--HEADER CSS-->
 <link rel="stylesheet" href="../css/header.css">
 <!--FOOTER CSS-->
 <link rel="stylesheet" href="../css/footer.css">