<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
    <link rel="stylesheet" href="css/aboutUs.css">
</head>
<body>
   
    
<main class="wrapper">
    <!--MAIN HEADER-->
    <header class="container" id="site-header">
      <%- include("./partials/header.ejs")%>   
    </header>


    <section class="banner">
        <h1>ABOUT US</h1>
    </section>


    <section class="cards-container">

    <div class="col col-1" >
            <div class="card">
                <h3 id="h3con">Great Speakers & Professionals</h3>
            
                <p  class="paragraph">The network of professionals provide an opportunity to choose from the best for dealing with an issue and presenting a solutions based on exposure and insights. Different perspectives and varied opinions help finding better solution.
                </p>
                
                </div>
                
                <div class="card ">
                    <h3>Workplace Challenges</h3>
                    <p>Moving forward with Covid-19 is possible with positive mindset for working with “Art of Possible”. Diagnostic services are valuable for assessment of issues.</p>
                </div>
    </div>
    
    <div class="col col-2" >
        <div class="video-container">
            <iframe width="300px" height="350px" src="https://www.youtube.com/embed/il3gFqdniRA"  allowfullscreen></iframe>
        </div>
        
    <div class="btn-container btn-container-sm">
        <a href="#" class="reg-btn" style="padding: 0.8rem 2rem;">Learn More</a>
    </div>
    </div>
    
    <div class="col col-3">
            <div class="card ">
                <h3 class="h3con">Networking</h3>
            
                <p >An event provides an opportunity to network with global experts and professionals for future contacts and interrelationship for professional growth. Capture value while connected with us.</p>
            
            </div>
            
                <div class="card">
                    <h3>Management Approach</h3>
            
                    <p>The perpetual disruption and continued uncertainty have forced to go for alternate management approach and infinite flow for reaching the desired outcomes. Our support help building the strength and capturing benefits.</p>
        
                </div>
    </div>


    </section>

   
    <!--ABOUT US INTRO SECTION-->
    <section class="about-intro-container">
        <aside class="side-logo right">
          <span><img src="img/about1.jpg" alt="Corporate" /></span>
        </aside>

        <aside class="side-text">
          <div class="head">
            <h1>
              About PPM
            </h1>
            <p>
                PPM is the training wing of Integrated Corporate Management Solutions Pvt., Ltd., [www.icms-spm.com] a consulting and supporting enterprise helping business houses and organizations to move in strategic direction with application of Strategic Project Management. The re-skilling and up-skilling of work force for building organizational competence for results-driven managements is the need of time and the focus of solutions remain on competence for advancement in strategic direction. The global networking of professionals having expertise of Project Management help empowering organizations with the power of project management for managing business with enhanced capabilities for fast decision making and managing human aspects. Project Management approach has been recognized globally as a 21st Century management concept for advancing business and managing the pitfalls of linear thinking in a nonlinear world. Providing knowledge and support services for transforming organization through training, mentoring/coaching and supporting in relevant time aligned with the management concept is highly helpful for making way forward in the disruption happening in severity of mega trends noted following;
            </p>

            <ul>
                <li> COVID-19 </li> 
                <li>Climate crises </li>
                <li>Civil, civic equality movements</li>
                <li> Shifting globalization dynamics </li>
                <li> Mainstream AI </li>
            </ul>

            <p>Our support is helpful in diagnosing the issues and transforming the workplace to the need of business.</p>

            <div class="btn-container btn-container-sm">
              <a href="contact.html" class="reg-btn">
                Contact
              </a>
            </div>

          </div>
        </aside>
      </section>
   
<div class="side-text">
    <h1 style="text-align: center;">Consulting Services</h1>

    <ul style="padding:0;">
       <li> Are you satisfied with advancement of your organization in strategic direction? </li>
       <li> Are you happy with strategy implementation endeavors?? </li>
       <li> Are you conscious of gaps in strategy and implementation endeavors??? </li>
       <li> Are you successful in managing the Culture for high performance???? </li>
    </ul>

    <p>Having a single “NO” in answer to any of the above leaves you no choice but to look for support consulting services of our parent company;</p>
</div>
   
<div class="End">
    <img src="img/sslogo.png" alt="">

    <div class="btn-container btn-container-sm">
        
        <a href="icms.thepower-pm.com" class="reg-btn" >
            GO TO ICMS
        </a>
    </div>
</div>

 <!--FOOTER-->
 <footer id="site-footer">
  <%- include("./partials/footer.ejs")%>
</footer>

</main>


</body>
</html>