<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs")%>

    <!--SERVICES CSS-->
    <link rel="stylesheet" href="css/services.css">
    <!--MODAL POPUP CSS-->
    <link rel="stylesheet" href="css/modal.css">

</head>

<body>
    <main class="wrapper">
        <!--MAIN HEADER-->
        <header class="container" id="site-header">
            <%- include("./partials/header.ejs")%>
        </header>


        <section class="banner">
            <h1>ARTICLES</h1>
        </section>

        <main class="boxes">

            <!--text row-->
            <article class="text-container">
                <h1>ARTICLES</h1>

            </article>

            <!--column1-->
            <article class="col col-1">
                <!--1 card in column 1-->
                <div class="card card-1">
                    <div class="img-card">
                        <img src="img/articlepic1.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">Managing Power in Interactions in Team Relationships</div>
                        </div>
                    </div>
                    <div class="text-card">
                    <a href="https://www.projectmanagement.com/articles/490436/Managing-Power-in-Interactions-in-Team-Relationships"
                        target="_blank">Read It</a>
                    </div>
                </div>
            </article>

            <!--column2-->
            <article class="col col-2">
                <!--2 cards in column 2-->
                <div class="card card-2">
                    <div class="img-card">
                        <img src="img/articlepic2.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">Understanding Collaboration and How to Leverage It for Project Implementation</div>
                        </div>
                    </div>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/articles/445740/Understanding-Collaboration-and-How-to-Leverage-It-for-Project-Implementation "
                            target="_blank">Read It</a>
                       
                    </div>
                </div>
                <div class="card card-3">
                    <div class="img-card">
                        <img src="img/articlepic3.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">How to Connect With Organizational Culture and Enhance Meaningfulness</div>
                        </div>
                    </div>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/articles/435753/How-to-Connect-With-Organizational-Culture-and-Enhance-Meaningfulness"
                            target="_blank">Read It</a>
                       
                    </div>
                </div>
            </article>

            <!--column3-->
            <article class="col col-3">
                <!--1 card in column 3-->
                <div class="card card-4">
                    <div class="img-card">
                        <img src="img/articlepic4.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">The Significance of High-Performing Culture: How to Enhance Engagement of Team Members on a Project</div>
                        </div>
                    </div>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/articles/413581/The-Significance-of-High-Performing-Culture--How-to-Enhance-Engagement-of-Team-Members-on-a-Project"
                            target="_blank">Read It</a>
                        
                    </div>
                </div>
            </article>
        </main>

        <main class="boxes">

            <!--text row-->
            
        <!--text row-->
        <article class="text-container">

    
        </article>
    

            <!--column1-->
            <article class="col col-1">
                <!--1 card in column 1-->
                <div class="card card-1">
                    <div class="img-card">
                        <img src="img/articlepic5.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">Do You Understand the Power of Failure? Creativity and Innovation Is the Backbone of Continued Improvement</div>
                        </div>
                    </div>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/articles/402087/Do-You-Understand-the-Power-of-Failure--Creativity-and-Innovation-Is-the-Backbone-of-Continued-Improvement"
                            target="_blank">Read It</a>
                    </div>
                </div>
            </article>
            
            <!--column2-->
            <article class="col col-2">
                <!--2 cards in column 2-->
                <div class="card card-2">
                    <div class="img-card">
                        <img src="img/articlepic6.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">Communication Issues and Solutions for Project Implementation</div>
                        </div>
                    </div>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/articles/396785/Communication-Issues-and-Solutions-for-Project-Implementation"
                            target="_blank">Read It</a>
            
                    </div>
                </div>
                <div class="card card-3">
                    <div class="img-card">
                        <img src="img/articlepic8.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">Building Trust for the Advancement of Project Management</div>
                        </div>
                    </div>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/articles/334598/Building-Trust-for-the-Advancement-of-Project-Management"
                            target="_blank">Read It</a>
            
                    </div>
                </div>
            </article>
            
            <!--column3-->
            <article class="col col-3">
                <!--1 card in column 3-->
                <div class="card card-4">
                    <div class="img-card">
                        <img src="img/articlepic10 (1).jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">How to Develop a Culture of High Performance: Q&A</div>
                        </div>
                    </div>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/articles/322658/How-to-Develop-a-Culture-of-High-Performance--Q-A"
                            target="_blank">Read It</a>
            
                    </div>
                </div>
            </article>
            <article class="col col-4">
                <!--1 card in column 3-->
                <div class="card card-4">
                    <div class="img-card">
                        <img src="img/articlepic11.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">Understand the Human Factors in Project Management for Success: Q&A</div>
                        </div>
                    </div>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/articles/305476/Understand-the-Human-Factors-in-Project-Management-for-Success--Q-A"
                            target="_blank">Read It</a>
            
                    </div>
                </div>
           
                <!--1 card in column 3-->
                <div class="card card-4">
                    <div class="img-card">
                        <img src="img/articlepic9.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">
                                Organizational Transformation for Paradigm Shift in Business Management</div>
                        </div>
                    </div>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/articles/302101/Organizational-Transformation-for-Paradigm-Shift-in-Business-Management"
                            target="_blank">Read It</a>
            
                    </div>
                </div>
            </article>
            </main>
      
        <!--FOOTER-->
        <footer id="site-footer">
            <%- include("./partials/footer.ejs")%>
        </footer>
    </main>


    <script src="js/modal.js"></script>
</body>

</html>