<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
    <!--SERVICES CSS-->
    <link rel="stylesheet" href="css/services.css">
    <!--MODAL POPUP CSS-->
    <link rel="stylesheet" href="css/modal.css">
</head>
<body>
    <main class="wrapper">
        <!--MAIN HEADER-->
        <header class="container" id="site-header">
            <%- include("./partials/header.ejs")%>
        </header>


        <section class="banner">
            <h1>BOOKS</h1>
        </section>
    <main class="boxes">
    
        <!--text row-->
        <article class="text-container">
            <h1>BOOKS</h1>
          
        </article>
    
        <!--column1-->
        <article class="col col-1">
            <!--1 card in column 1-->
            <div class="card card-2">
                <div class="img-card">
                    <img src="img/book1.jpg" alt="" class="image1" width="50%" style="margin-inline:25% ;">
                </div>
                <div class="text-card">
            
                    <p>Applying Project Management Principles for Organizational Transformation</p>
                    <a href="article-files/chapter-1.pdf">Read This Book </a>
                </div>
            </div>
            
        </article>
    
        <!--column2-->
        <article class="col col-2">
            <!--2 cards in column 2-->
            <div class="card card-1">
                <div class="img-card">
                    <img src="/img/Webinar1-01.jpg" alt="" class="image" width="100%">
                </div>
                <p class="para">ENLIGHTENING BOOK REVIEW SESSIONS. Enhancing an Understanding of Project Management Approach.
                    INTEGRATED CORPORATE
                    MANAGEMENT SOLUTIONS PVT. LTD. The Power Of Project Management! The pandemic has demanded a major shift in AN
                    ORGANIZATION to become DISTINCTLY HUMAN AT ITS CORE for progression. It is a different way to approach every
                    challenge,
                    every question..</p>
                <div class="text-card">
                    <a href="https://youtu.be/kSG5gSefGYs " target="_blank">Watch Video</a>
                </div>
            </div>
           
            <div class="card card-3">
                <div class="img-card">
                    <img src="img/book2.jpg" alt="" class="image1" width="50%" style="margin-inline:25% ;">
                </div>
                <div class="text-card">
                <p>Understanding Human Factors and Workplace Environment</p>
                <a href="article-files/chapter-2.pdf">Read This Book </a>
                </div>
            </div>
        </article>
    
        <!--column3-->
        <article class="col col-3">
            <!--1 card in column 3-->
            <div class="card card-4">
                <div class="img-card">
                    <img src="img/book3.png" alt="" class="image1" width="50%" style="margin-inline:25% ;">
                </div>
                <div class="text-card">
           
                <p>Respecting Diversity, Building Team Meaningfulness, and Growing Into Leadership Roles</p>
                <a href="article-files/chapter-3.pdf" >Read This Book </a>
                </div>
            </div>
        </article>
    </main>
    <main class="boxes">
    
        <!--text row-->
        <article class="text-container">

    
        </article>
    
        <!--column1-->
        <article class="col col-1">
            <!--1 card in column 1-->
            <div class="card card-1">
                <div class="img-card">
                    <img src="img/volume4.png" alt="" class="image1" width="50%" style="margin-inline:25% ;">
                   
                <div class="text-card">
                   
                    <p>Agility in Project Management and Collaboration</p>
                    <a href="article-files/chapter-1.pdf">Read This Book </a>

                </div>
            </div>
        </article>
    
        <!--column2-->
        <article class="col col-2">
            <!--2 cards in column 2-->
            <div class="card card-2">
                <div class="img-card">
                    <img src="img/book11.jpeg" alt="" class="image1" width="50%" style="margin-inline:25% ;">
                </div>
                <div class="text-card">
                    
                    <p>The Culture Transformation Toolkit</p>
                    <a href="article-files/chapter-1.pdf">Read This Book </a>

                </div>
            </div>
            <div class="card card-3">
                <div class="img-card">
                    <img src="img/book10.jpeg" alt="" class="image1" width="50%" style="margin-inline:25% ;">
                </div>
                <div class="text-card">
                   
                    <p>Pulse Of The Profession Beyond Agility</p>
                    <a href="article-files/chapter-1.pdf">Read This Book </a>

                </div>
            </div>
        </article>
    
        <!--column3-->
        <article class="col col-3">
            <!--1 card in column 3-->
            <div class="card card-4">
                <div class="img-card">
                <img src="img/article.jpg" alt="" class="image1" width="50%" style="margin-inline:25% ;">
                </div>
                <div class="text-card">
                    <p>A.G.I.L.E. L.E.A.D.E.R.S.H.I.P. with a G.R.I.P.: A TWENTY-FIRST CENTURY JOURNEY</p>
                    <a href="article-files/chapter-1.pdf">Read This Book </a>

                </div>
            </div>
            
        </article>
    </main>
    <!--FOOTER-->

    <footer id="site-footer" style="margin-top:20px ;">
        <%- include("./partials/footer.ejs")%>
    </footer>
    </main>

    <script src="js/modal.js"></script>
</body>
</html>