<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs")%>
    <!--SERVICES CSS-->
    <link rel="stylesheet" href="css/services.css">
    <!--MODAL POPUP CSS-->
    <link rel="stylesheet" href="css/modal.css">

</head>

<body>
    <main class="wrapper">
        <!--MAIN HEADER-->
        <header class="container" id="site-header">
            <%- include("./partials/header.ejs")%>
        </header>


        <section class="banner">
            <h1>PAST EVENTS</h1>
        </section>

        <main class="boxes">

            <!--text row-->
            <article class="text-container">
                <h1>PMI Webinar</h1>

            </article>

            <!--column1-->
            <article class="col col-1">
                <!--1 card in column 1-->
                <div class="card card-1">
                    <div class="img-card">
                        <img src="img/webinar1.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">An Understanding of How to Maximize Organizational Culture with Project Management AURA – Model for High Performance</div>
                        </div>
                    </div>

                    <p class="para">In this webinar, you will learn how to maximize supportive culture with Project Management-AURA Model to create a strong
                    competitive edge in the market. Here the word "AURA” is used symbolically to refer to enlightened individuals who exude
                    a certain energy that attracts or enlightens others. This displayed power may come from knowledge, experience, or
                    leadership and is described as individual aura.</p>
                    <div class="text-card">
                    <a href="https://www.projectmanagement.com/videos/544340/An-Understanding-of-How-to-Maximize-Organizational-Culture-with-Project-Management-AURA---Model-for-High-Performance "
                        target="_blank">Read It</a>
                    </div>
                </div>
            </article>

            <!--column2-->
            <article class="col col-2">
                <!--2 cards in column 2-->
                <div class="card card-2">
                    <div class="img-card">
                        <img src="img/webinar2.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">Challenges of Strategic Implementation and How to Make Use of Critical Thinking</div>
                        </div>
                    </div>
                    <p class="para">Project management helps advancement for strategic implementation that requires an environment to create a “Thinking
                    Organization”. Every team member needs to behave like a “strategic leader” and develop a driving force for a thinking
                    organization.</p>
                    <div class="text-card">
                    <a href="https://www.projectmanagement.com/videos/427890/Challenges-of-Strategic-Implementation-and-How-to-Make-Use-of-Critical-Thinking  "
                        target="_blank">Read It</a>

                    </div>
                </div>
                <div class="card card-3">
                    <div class="img-card">
                        <img src="img/webinar3.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">Why Diversity is the Best Solution for Adding to Success First Time & Every Time
                            </div>
                        </div>
                    </div>
                    <p class="para">Project management makes fast-paced actions to implement projects and programs with high-performing teams that draw
                    strengths from competence, creative innovation, interdependence, and respect. The project management approach success
                    first time and every time with continued improvement requires the teams to have all possible strengths.</p>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/videos/420952/Why-Diversity-is-the-Best-Solution-for-Adding-to-Success-First-Time---Every-Time "
                            target="_blank">Read It</a>

                    </div>
                </div>
            </article>

            <!--column3-->
            <article class="col col-3">
                <!--1 card in column 3-->
                <div class="card card-4">
                    <div class="img-card">
                        <img src="img/webinar4.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">Do You Understand Collaboration and How to Leverage it for Project Implementation?</div>
                        </div>
                    </div>
                    <p class="para">When problems are tackled collaboratively, usually organization win. Where effective collaboration requires more than
                    technology. It demands the right mindset and strategic framework.</p>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/videos/408102/Do-You-Understand-Collaboration-and-How-to-Leverage-it-for-Project-Implementation- "
                            target="_blank">Read It</a>
                    </div>
                </div>
            </article>
        </main>

        <main class="boxes">

            <!--text row-->

            <!--text row-->
            <article class="text-container">


            </article>


            <!--column1-->
            <article class="col col-1">
                <!--1 card in column 1-->
                <div class="card card-1">
                    <div class="img-card">
                        <img src="img/webinar5.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">What Does It Entail to Manage a Project Team for High Performance?</div>
                        </div>
                    </div>
                    <p class="para">The gist of the matter is to manage "Collective Commitment" of an individual member, team, and an organization. This
                    webinar will cover how that happens, managing certain prerequisites while forming a team and inducting a new team
                    member, certain areas of leadership to help the team perform at their best, and certain behaviors to avoid.</p>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/videos/400906/What-Does-It-Entail-to-Manage-a-Project-Team-for-High-Performance- "
                            target="_blank">Read It</a>
                    </div>
                </div>
            </article>

            <!--column2-->
            <article class="col col-2">
                <!--2 cards in column 2-->
                <div class="card card-2">
                    <div class="img-card">
                        <img src="img/webinar6.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">Do You Focus Right for Project Monitoring and Control?</div>
                        </div>
                    </div>
                    <p class="para">Project implementation is required to reach the desired outcomes in business. You develop a WBS, apply project
                    management systems, particularly EVM and then settle down with project monitoring and control processes to reach the end
                    result - but is that enough?</p>
                    <div class="text-card">
                        <a href="https://www.projectmanagement.com/videos/394682/Do-You-Focus-Right-for-Project-Monitoring-and-Control- "
                            target="_blank">Read It</a>

                    </div>
                </div>
                <div class="card card-3">
                    <div class="img-card">
                        <img src="img/webinar7.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">Communication Issues and Solutions for Project Implementation</div>
                        </div>
                    </div>
                    <p class="para">Do you understand your team and know how to shape your communication so that you are properly heard and understood for the advancement of project implementation? This webinar will tackle common communication issues and how to resolve them
                    to move your project ahead.</p>
                    <div class="text-card">
                    <a href="https://www.projectmanagement.com/videos/381728/Communication-Issues-and-Solutions-for-Project-Implementation "
                        target="_blank">Read It</a>

                    </div>
                </div>
            </article>

            <!--column3-->
            <article class="col col-3">
                <!--1 card in column 3-->
                <div class="card card-4">
                    <div class="img-card">
                        <img src="img/webinar8.jpg" alt="" class="image" width="100%">
                        <div class="img-text">
                            <div class="text">Do You Understand the Power of Failure?</div>
                        </div>
                    </div>
                    <p class="">Failure is supposed to be a great teacher. But if that’s true, why are so many of us unable to acquire the knowledge
                    this “great teacher” has to impart? Why do we keep failing?</p>
                    <div class="text-card">
                    <a href="https://www.projectmanagement.com/videos/377343/Do-You-Understand-the-Power-of-Failure- " target="_blank">Read
                        It</a>

                    </div>
                </div>
            </article>

                
        </main>

        <main class="boxes boxes-2" style="margin-block:1rem;">
         <!--column4-->
         <article class="col col-4">
            <!--1 card in column 3-->
            <div class="card card-4">
                <div class="img-card">
                    <img src="img/webinar10.jpg" alt="" class="image" width="100%">
                    <div class="img-text">
                        <div class="text">Power Relationships in Team Interaction</div>
                    </div>
                </div>
                <p class="para">Organizational progress is sustained by team relationships at every level and is vulnerable to power play in times of
                challenge. The advancements toward desired outcomes is an endeavor that requires influence, exerted by decision makers,
                for available choices and to maintain the speed of progress.</p>
                <div class="text-card">
                    <a href="https://www.projectmanagement.com/videos/366802/Power-Relationships-in-Team-Interaction " target="_blank">Read
                        It</a>

                </div>
            </div>
        </article>

        <!--column5-->
        <article class="col col-5">
        <!--card in column 3-->
        <div class="card card-4">
            <div class="img-card">
                <img src="img/webinar9.jpg" alt="" class="image" width="100%">
                <div class="img-text">
                    <div class="text">
                    The Significance of High Performance Culture</div>
                </div>
            </div>
            <p class="para">You just cannot go unnoticed through a high-performance organization; there the difference is felt instantly through the work environment. The enthusiasm is prevalent and the team-members are energized. They have purpose and they are working
            together to get things done.</p>
            <div class="text-card">
                <a href="https://www.projectmanagement.com/videos/367331/The-Significance-of-High-Performance-Culture "
                    target="_blank">Read It</a>

            </div>
        </div>
        </article>
        </main>

        <!--FOOTER-->
        <footer id="site-footer" style="margin-top:20px;">
            <%- include("./partials/footer.ejs")%>
        </footer>
        </main>

    <script src="js/modal.js"></script>
</body>

</html>